<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="sales_order_place_after">
    <observer name="tezus_sales_order_place_after" instance="Paghiper\Magento2\Observer\OrderObserver" />
  </event>
</config>